@import "variables";

a {
    color: $color_black;
    text-decoration: none;
    list-style: none;
    display: block;
}

body {
    background-color: #F5E7C8 !important;
    font-family: $font_family !important;
    font-size: $size12;
}