
// *********Basis*********
$width10: 10%;
$width15: 15%;
$width20: 20%;
$width30: 30%;
$width50: 50%;
$width60: 60%;
$width100: 100%;

// *********Font*********
$font_family: 'Helvetica' !default;
$font_size1: 1rem;
$font_size1_5: 1.5rem;
$font_size1_8: 1.8rem;
$font_size2: 2rem;
$font_size2_5: 2.5rem;
$font_size3: 3rem;
$font_bold :bold;


// *********Size*********
$size0: 0;
$size1: 1px;
$size2: 2px;
$size3: 3px;
$size5 : 5px ;
$size10: 10px;
$size12: 12px;
$size15: 15px;
$size16: 16px;
$size18: 18px;
$size20: 20px;
$size28: 28px;
$size30: 30px;
$size40: 40px;
$size50: 50px;
$size60: 60px;
$size80: 80px;
$size100: 100px;
$size200: 200px;
$size400: 400px;

//*********Position*********
$position_left: left;
$position_right: right;
$position_top: top;
$position_bottom: bottom;
$position_center: center;

//*********Color*********
$color_background: #F5E7C8 !default;
$color_navbar: #C12D24 !default;
$color_background_hover:rgba($color: #000, $alpha: 0.3) !default;
$color_active: rgb(64, 158, 255) !default;
$color_black: #000 !default;
$color_white: #FFF !default;
$color_title: #F56C6C !default;
$color_user_title: #909399 !default;
$color_title_many: rgba(151, 151, 151, 0.9) !default;
$color_title_hover:rgba(204, 0, 255,0.8) !default;
$color_menu_item_hover:rgba(6, 136, 175,0.6) !default;
