
// *********Basis*********
$width10: 10% !default;
$width15: 15% !default;
$width20: 20% !default;
$width100: 100% !default;
$font_family: 'Helvetica' !default;

$font_bold :bold !default;

// *********Size*********
$size5 : 5px  !default;
$size10: 10px !default;
$size12: 12px !default;
$size16: 16px !default;
$size18: 18px !default;
$size20: 20px !default;
$size30: 30px !default;
$size40: 40px !default;
$size50: 50px !default;
$size60: 60px !default;
$size80: 80px !default;
$size400: 400px !default;

//*********Position*********
$position_left: left !default;
$position_right: right !default;
$position_top: top !default;
$position_bottom: bottom !default;
$position_center: center !default;

//*********Color*********
$bg-color: #F5F5F5 !default;
$color_black: #000 !default;
$color_white: #FFF !default;
